<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./football_manager/public/assets/css/liste.css">
    <title>Feuille de Rencontre</title>
</head>
<body>
<div id="liste">
    <main>
        <h1>Feuille de Rencontre</h1>
        <table>
            <thead>
            <tr>
                <th>ID Rencontre</th>
                <th>Équipe Adverse</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{ROWS}}
            </tbody>
        </table>
    </main>
</div>
</body>
</html>