@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Style général */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1c1c1c;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    width: 320px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #2c2c2c;
    color: #e0e0e0;
    transition: border-color 0.3s;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #1f3c60b8;
    box-shadow: 0 0 8px rgba(31, 60, 96, 0.72);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1f3c60b8;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: rgba(35, 80, 136, 0.72);
    transform: scale(1.02);
}

/* Gestion des erreurs */
p[style='color:red;'] {
    color: #cf6679 !important;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 400px) {
    div {
        width: 90%;
        padding: 20px;
    }
}
