/* Container pour les tableaux */
.table-container {
    display: flex;
    justify-content: space-between;
    gap: 100px; /* Espace entre les tableaux */
    margin-bottom: 20px;
}

.table-compo {
    margin-left: 50px;
}

.table-selection {
    margin-right: 50px;
}

/* Style des tableaux */
/* Couleurs spécifiques pour chaque type de poste */
.gardien {
    color: #f7d802;
    background-color: #1e1e1e;
    width: 20px;
}

.defenseur {
    color: #2bbae3;
    background-color: #1e1e1e;
}

.milieu {
    color: #4fc82b;
    background-color: #1e1e1e;
}

.attaquant {
    color: #F72C75;
    background-color: #1e1e1e;
}

.remplacant {
    color: #cdcdcd;
    background-color: #1e1e1e;
}

/* Bordures pour un meilleur rendu */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}


select {
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
