<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/football_manager/public/assets/css/modifier.css">
    <title>Modifier une rencontre</title>
</head>
<body>
<div id="modifier-style">
    <main>
        <h1>Modifier une rencontre</h1>
        <form method="post" action="">
            <div class="form-group">
                <label for="equipe_adverse">Équipe Adverse :</label>
                <input type="text" id="equipe_adverse" name="equipe_adverse" value="{{rencontre.equipe_adverse}}" required>
            </div>

            <div class="form-group">
                <label for="date_rencontre">Date de la rencontre :</label>
                <input type="date" id="date_rencontre" name="date_rencontre" value="{{rencontre.date_rencontre}}" required>
            </div>

            <div class="form-group">
                <label for="heure_rencontre">Heure de la rencontre :</label>
                <input type="time" id="heure_rencontre" name="heure_rencontre" value="{{rencontre.heure_rencontre}}" required>
            </div>

            <div class="form-group">
                <label for="lieu">Lieu :</label>
                <select id="lieu" name="lieu" required>
                    <option value="Domicile" {{selected.domicile}}>Domicile</option>
                    <option value="Exterieur" {{selected.exterieur}}>Exterieur</option>
                </select>
            </div>

            <div class="form-group">
                <label for="resultat">Résultat :</label>
                <select id="resultat" name="resultat" required>
                    <option value="Victoire" {{selected.victoire}}>Victoire</option>
                    <option value="Défaite" {{selected.defaite}}>Défaite</option>
                    <option value="Nul" {{selected.nul}}>Nul</option>
                    <option value="<Rien>" {{selected.rien}}>Rien</option>
                </select>
            </div>

            <div class="form-group">
                <button type="submit">Modifier</button>
            </div>
        </form>
    </main>
</div>
</body>
</html>
